<p>
    <b>Name: </b><span>@pupil.Name</span>

    @if(EmailShow)
    {
     <br /> <b>Email: </b><i>@pupil.Email</i/>

    }

    @if(displayInfo){
      <br />  <span>@pupil.Name 's age is @pupil.Age</span>
    }
    <br />
    <button @onclick="@(() => {displayInfo = !displayInfo; })">Show Info </button>
    <br />
    <button @onclick= "@( ()=> {DeleteP.InvokeAsync(pupil);})">Delete</button>
</p>


@code {
    [Parameter]
    public People pupil { get; set; }

    [Parameter]
    public bool EmailShow { get; set; }
    [Parameter]
    public EventCallback<People> DeleteP { get; set; }


    private bool displayInfo = false;

}
